.form-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .workout-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  input, select {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .btn-submit {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }